*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: Azure;
	color:chocolate;
}
article{
	padding-top:20px;
	padding-left:30px;
	padding-right:30px;

}
nav{
	background-color: PowderBlue;
	
	
	
}

.left{
	float: left;
}

.right{
	float: right;
}



nav a {
	text-decoration: none;
	border-right: solid;
	border-left: solid;
	border-width: 1px; 
	padding-right: 4px;
	padding-left: 3px;
	border-color: Chocolate; 
}
/*  */
nav a:link{
	color:Chocolate;
}
nav a:hover{
	color:Chocolate;
	background-color:SpringGreen;
}
nav a:visited{
	color:Chocolate;
}

footer{
    background-color:PowderBlue;
    

}
h2{
    text-align:center;
}
h1{
	display:inline-block;
	color:#FFAD08;
	text-shadow: -1px 0 black 0 1px black, 1px 0 black, 0 -1px black;
}
img{
	display:inline-block;
	margin-bottom:-3px;
}
